<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      O uczelni
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">O uczelni</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-img src="../../assets/icon/logoChorzow0.png"></ion-img>

  <app-explore-container name="Projekt powstał w ramach laboratorium 'Systemy urządzeń mobilnych', który prowadzi Marcin Dłubis"></app-explore-container>
</ion-content>
